# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.settings
.classpath
.project
lib/bin
gradle
.gitattributes
gradlew
gradlew.bat
lib/build.gradle
settings.gradle
